* text=auto
*.lsl binary
*.md text eol=lf
*.cs text eol=lf
*.csproj text eol=lf
*.sln text eol=lf
*.props text eol=lf
*.targets text eol=lf
*.config text eol=lf
*.ini text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.xml text eol=lf
*.txt text eol=lf
*.ps1 text eol=lf
*.cmd text eol=lf
*.bat text eol=lf
*.dat binary
*.bmp binary
*.BMP binary
*.gif binary
*.ico binary
*.j2c binary
*.j2k binary
*.jpg binary
*.png binary
*.tga binary
*.tif binary
*.db2 binary
*.llm binary
*.nib binary
*.rtf binary
*.ttf binary
*.ogg binary
*.dll binary
*.exe binary
*.so  binary
*.dylib binary
*.anim binary
.gitignore text eol=lf
.gitattributes text eol=lf
